.carousel-styling {
  background-color: white;
  width: 65vw;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  color: rgb(0, 0, 77);
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}
.para {
  color: rgb(0, 0, 77);
  font-weight: 700;
}
