.testimonial-styling{
    margin-left : 18vw;
    margin-right:20vw;
    margin-top:100px;
    height:100vh;
    
}
.heading{
    margin-top:10%;
    color:black;
}

p{
    margin-top:20vh;
    line-height:2rem;
    color:black;
}

.carousel{
    height:60vh;
}
.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    
}
.control-dots{
    padding: 40%;
}